body {
    position: relative;
}

.navbar-dark .navbar-brand {
    color:#fff !important;
}

#collapseEx2 .navbar-nav li a.active {
    background:rgba(255,255,255,.15);
}

#home .view {
    height: 100vh;
}

.full-bg-img {
    color: #fff;
}

#home p, .title{
    font-weight:100;
}

/*Fixed background*/
.fixed-bg {
    background: url("https://mdbootstrap.com/images/regular/work/img%20(1).jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 55vh;
}

  
  .timeline {
    position: relative;
  }
  .timeline::before {
    content: "";
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    width: 100%;
    margin-bottom: 70px;
  }
  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
  }
  .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
  }
  .timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .timeline-item::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }
  .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
  
  .timeline-img {
    width: 30px;
    height: 30px;
    background: #3F51B5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }
  
/*   a {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  }
  a:hover, a:active, a:focus {
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none;
  }
   */
  .timeline-card {
    padding: 0 !important;
  }
  .timeline-card p {
    padding: 0 20px;
  }
  .timeline-card a {
    margin-left: 20px;
  }
  
  .timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
    background-size: cover;
  }
  
  .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
  .timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
  
  blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3F51B5;
    padding: 0 20px;
  }
  
  .date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .timeline::before {
      left: 50px;
    }
    .timeline .timeline-img {
      left: 50px;
    }
    .timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
      content: "";
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }
  }

/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */
.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name=tab-control] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428BFF;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428BFF;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428BFF;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

.l-main {
  grid-template-columns: 30px 1fr;
  min-height: auto;
}

.l-main__content.l-main__content--two-halfs {
  display: block;
}

.l-main__side-menu {
  background-image: linear-gradient( 138deg,#089ce9,#7be7ff);
max-height: 95% !important;
}

.l-main__content {
  background-color: transparent !important;
  
}

[id=c-permit-tab-er]:checked~nav [for=c-permit-tab-er], [id=c-permit-tab-nd]:checked~nav [for=c-permit-tab-nd], [id=c-permit-tab-rd]:checked~nav [for=c-permit-tab-rd], [id=c-permit-tab-st]:checked~nav [for=c-permit-tab-st], [id=c-permit-tab-to]:checked~nav [for=c-permit-tab-to] {
  background-color: #2fb5f0;
  color: #fff;
}
/* Lazy Load Styles */
.card-image {
	display: block;
 /*  min-height: 20rem; /* layout hack */
  min-height: 20rem;
	background: #fff center center no-repeat;
	background-size: cover;
	filter: none;
}

.card-image-arg {
	display: block;
  min-height: 15rem;
  max-width: 18rem;
	background: #fff center center no-repeat;
	background-size: cover;
	filter: none;
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image-arg > img {
   display: block;
   width: 100%;
   opacity: 0;
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}


.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block !important;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}

.c-permit-tab-2__nav {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 0 rgba(0,0,0,.22);
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px 16px
}

.c-permit-tab-2__nav label {
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  border-radius: inherit;
  color: #959395;
  cursor: pointer;
  padding: 4px 8px;
  z-index: 10
}

.c-permit-tab-2 [type=radio] {
  display: none
}

.c-permit-tab-2 [class^=c-permit-tab-] {
  left: 0;
  position: absolute;
  top: -26px;
  transform: scale(0);
  z-index: -1
}

[id=c-permit-tab-2-er]:checked~nav [for=c-permit-tab-2-er],[id=c-permit-tab-2-nd]:checked~nav [for=c-permit-tab-2-nd],[id=c-permit-tab-2-rd]:checked~nav [for=c-permit-tab-2-rd],[id=c-permit-tab-2-st]:checked~nav [for=c-permit-tab-2-st],[id=c-permit-tab-2-to]:checked~nav [for=c-permit-tab-2-to] {
  background-color: #07b5a9;
  color: #fff
}

[id=c-permit-tab-2-er]:checked~.c-permit-tab-2-er-content,[id=c-permit-tab-2-nd]:checked~.c-permit-tab-2-nd-content,[id=c-permit-tab-2-rd]:checked~.c-permit-tab-2-rd-content,[id=c-permit-tab-2-st]:checked~.c-permit-tab-2-st-content,[id=c-permit-tab-2-to]:checked~.c-permit-tab-2-to-content {
  display: block;
  position: relative;
  top: 0;
  transform: scale(1);
  transition: top .25s ease-out;
  z-index: 10

}

.l-main__side-menu-2 {
  background-image: linear-gradient( 
138deg,#07b5a9,#07b5a947);
  max-height: 95%  !important;
}

.c-permit-tab-3__nav {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 0 rgba(0,0,0,.22);
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px 16px
}

.c-permit-tab-3__nav label {
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  border-radius: inherit;
  color: #959395;
  cursor: pointer;
  padding: 4px 8px;
  z-index: 10
}

.c-permit-tab-3 [type=radio] {
  display: none
}

.c-permit-tab-3 [class^=c-permit-tab-] {
  left: 0;
  position: absolute;
  top: -26px;
  transform: scale(0);
  z-index: -1
}

[id=c-permit-tab-3-er]:checked~nav [for=c-permit-tab-3-er],[id=c-permit-tab-3-nd]:checked~nav [for=c-permit-tab-3-nd],[id=c-permit-tab-3-rd]:checked~nav [for=c-permit-tab-3-rd],[id=c-permit-tab-3-st]:checked~nav [for=c-permit-tab-3-st],[id=c-permit-tab-3-to]:checked~nav [for=c-permit-tab-3-to] {
  background-color: #003fc0;
  color: #fff
}

[id=c-permit-tab-3-er]:checked~.c-permit-tab-3-er-content,[id=c-permit-tab-3-nd]:checked~.c-permit-tab-3-nd-content,[id=c-permit-tab-3-rd]:checked~.c-permit-tab-3-rd-content,[id=c-permit-tab-3-st]:checked~.c-permit-tab-3-st-content,[id=c-permit-tab-3-to]:checked~.c-permit-tab-3-to-content {
  display: block;
  position: relative;
  top: 0;
  transform: scale(1);
  transition: top .25s ease-out;
  z-index: 10

}

.l-main__side-menu-3 {
  background-image: linear-gradient( 
    138deg,#003fc0,#005ef5);
  max-height: 95%  !important;
}

.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}
/* .accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #4285f4;
} */

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
  background-color: #4285f4;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #4285f4;
}

.accordionTitleModo,
.accordion__HeadingModo {
  background-color: #07b5a9;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #07b5a9;
}

.accordionTitleModo:before,
.accordion__HeadingModo:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}

.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
/* .accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
} */
.accordionTitle:hover, .accordion__Heading:hover,.accordionTitle:focus, .accordion__Heading:focus{
  color: white !important; 
  text-decoration: none;
} 


.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 50em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}